<!DOCTYPE html>
<html>
<head>
    <title>Cordoba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="interface-container">
        <div class="sidebar">
            <h3>Chat Area</h3>
            <div class="chat-container">
                <div class="chat" id="chat">
                    <!-- Chat messages will appear here -->
                </div>
                <div class="footer">
                    <input type="text" id="messageInput" placeholder="Enter text" required>
                    <button id="sendBtn">Generate</button>
                </div>
            </div>
        </div>
        <div class="content">
            <h2>Cordoba</h2>
            <div id="voxelPlot" class="model-viewer">
                <!-- 3D Model Will Go Here -->
            </div>
        </div>       
    </div>
    <div class="sidebar-icons">
        <!-- <object type="image/svg+xml" data="/static/icons/2.svg"></object> -->
        <!-- <object type="image/svg+xml" data="/static/icons/5.svg"></object>  -->
        <!-- <object type="image/svg+xml" data="/static/icons/7.svg"></object> -->
        <object type="image/svg+xml" data="/static/icons/download.svg"></object>
        <object type="image/svg+xml" data="/static/icons/house_off.svg"></object>
        <object type="image/svg+xml" data="/static/icons/landscape_off.svg"></object>
        <object type="image/svg+xml" data="/static/icons/map_off.svg"></object>
    </div>
    <script src="/static/frontend.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>
